@import 'libs/bootstrap-reboot.min';

* {
    font-family: 'Roboto', sans-serif;
}

@import 'base/variables';

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price-form';
@import 'blocks/manager';
@import 'blocks/sheme';
@import 'blocks/questions';
@import 'blocks/footer';
@import 'blocks/slider';
@import 'blocks/media';