.work {
    padding-top: 50px;
    padding-bottom: 55px;
    display: flex;
}
hr {
    width: 148px;
    height: 1px;
    background-color: $main-color; 
    margin-top: 20px;
}

.work-item__subtitle {
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    width: 879px;
    height: 44px;
    margin: 0 auto;
    margin-top: 17px;
}

.work__wrapper {
    margin-top: 40px;
    display: flex;
}

.work__item {
    margin-right: 15px;
}
.work__subtitle {
    text-align: center;
    margin-top: 28px;
    font-size: 18px;
    font-weight: 700;
    color: $main-color;
}
.work__descr {
    margin-top: 17px;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

